@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .bannerIcon {
     @apply w-12 h-12 bg-gray-900 text-xl inline-flex items-center justify-center rounded-md shadow-[10px_10px_20px_rgba(0,0,0,0.5),_-10px_-10px_20px_rgba(255,255,255,0.05)] transition-all cursor-pointer duration-300  hover:translate-y-1 hover:text-[#85DFE7];
  }
}

.active{
  color:#85DFE7;
  font-weight: bold;
}
